<!DOCTYPE html>
<html>
  <head>
    <title>Favoritos</title>

	<meta charset="utf-8">

	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">

	<link rel="stylesheet" href="../css/onsenui.css">
	<link rel="stylesheet" href="../css/onsen-css-components.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<script src="../js/onsenui.min.js"></script>

    <style>
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <ul class="list">
			<li class="list-item">
				<div class="list-item__left">
					<i class="tabbar__icon ion-android-bus color_accent"></i>
				</div>

				<div class="list-item__center">
					<div class="list-item__title color_accent">2603</div>
					<div class="list-item__subtitle">Ubicacion</div>
					<div class="list-item__subtitle">Av.mediterrane, 50 (Pz Conde de casal)</div>
				</div>
			</li>
			<li class="list-item">
				<div class="list-item__left">
					<i class="tabbar__icon ion-android-bus color_accent"></i>
				</div>

				<div class="list-item__center">
					<div class="list-item__title color_accent">2603</div>
					<div class="list-item__subtitle">Ubicacion</div>
					<div class="list-item__subtitle">Av.mediterrane, 50 (Pz Conde de casal)</div>
				</div>
			</li>
			<li class="list-item">
				<div class="list-item__left">
					<i class="tabbar__icon ion-android-bus color_accent"></i>
				</div>

				<div class="list-item__center">
					<div class="list-item__title color_accent">2603</div>
					<div class="list-item__subtitle">Ubicacion</div>
					<div class="list-item__subtitle">Av.mediterrane, 50 (Pz Conde de casal)</div>
				</div>
			</li>
			<li class="list-item">
				<div class="list-item__left">
					<i class="tabbar__icon ion-android-bus color_accent"></i>
				</div>

				<div class="list-item__center">
					<div class="list-item__title color_accent">2603</div>
					<div class="list-item__subtitle">Ubicacion</div>
					<div class="list-item__subtitle">Av.mediterrane, 50 (Pz Conde de casal)</div>
				</div>
			</li>
			<li class="list-item">
				<div class="list-item__left">
					<i class="tabbar__icon ion-android-bus color_accent"></i>
				</div>

				<div class="list-item__center">
					<div class="list-item__title color_accent">2603</div>
					<div class="list-item__subtitle">Ubicacion</div>
					<div class="list-item__subtitle">Av.mediterrane, 50 (Pz Conde de casal)</div>
				</div>
			</li>
			<li class="list-item">
				<div class="list-item__left">
					<i class="tabbar__icon ion-android-bus color_accent"></i>
				</div>

				<div class="list-item__center">
					<div class="list-item__title color_accent">2603</div>
					<div class="list-item__subtitle">Ubicacion</div>
					<div class="list-item__subtitle">Av.mediterrane, 50 (Pz Conde de casal)</div>
				</div>
			</li>
			<li class="list-item">
				<div class="list-item__left">
					<i class="tabbar__icon ion-android-bus color_accent"></i>
				</div>

				<div class="list-item__center">
					<div class="list-item__title color_accent">2603</div>
					<div class="list-item__subtitle">Ubicacion</div>
					<div class="list-item__subtitle">Av.mediterrane, 50 (Pz Conde de casal)</div>
				</div>
			</li>
			<li class="list-item">
				<div class="list-item__left">
					<i class="tabbar__icon ion-android-bus color_accent"></i>
				</div>

				<div class="list-item__center">
					<div class="list-item__title color_accent">2603</div>
					<div class="list-item__subtitle">Ubicacion</div>
					<div class="list-item__subtitle">Av.mediterrane, 50 (Pz Conde de casal)</div>
				</div>
			</li>
			<li class="list-item">
				<div class="list-item__left">
					<i class="tabbar__icon ion-android-bus color_accent"></i>
				</div>

				<div class="list-item__center">
					<div class="list-item__title color_accent">2603</div>
					<div class="list-item__subtitle">Ubicacion</div>
					<div class="list-item__subtitle">Av.mediterrane, 50 (Pz Conde de casal)</div>
				</div>
			</li>
			<li class="list-item">
				<div class="list-item__left">
					<i class="tabbar__icon ion-android-bus color_accent"></i>
				</div>

				<div class="list-item__center">
					<div class="list-item__title color_accent">2603</div>
					<div class="list-item__subtitle">Ubicacion</div>
					<div class="list-item__subtitle">Av.mediterrane, 50 (Pz Conde de casal)</div>
				</div>
			</li>
		</ul>
  </body>
</html>